<script id="new-report.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Report: {{newb}}</h1>
      <button class="button button-clear button-positive" ng-click="closeNewReport()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="createReport(report)">

        <input type="hidden" ng-model="report.mentor" value="{{mentor}}">
        <input type="hidden" ng-model="report.newb" value="{{newb}}">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Any Notes?" ng-model="report.notes">
          </label>
          <div class="item item-divider">
            Protocol: {{report.protocol}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model="report.protocol" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Social Acument: {{report.social}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model="report.social" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Small Vehicle Search: {{report.small}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.small" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Large Vehicle Search: {{report.large}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.large" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Lane Safety: {{report.safety}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.safety" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Theater: {{report.theater}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.theater" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Follows Direction: {{report.direction}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.direction" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Save Report</button>
        </div>
      </form>
    </ion-content>
  </div>

</script>
