<script id="report-list.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Your Reports</h1>
      <button class="button button-clear button-positive" ng-click="hideReportList()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="report in my_reports| orderBy:timestamp:true" class="item-icon-right"
                  ng-click="editReport(report)">
          <i class="icon ion-ios7-arrow-left"></i>
          {{report.newb}} | {{report.millitimestamp | date:'MM/dd @ h:mma'}}
          <ion-option-button class="button-energized" ng-click="editReport(report)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="delete(report)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</script>

