<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cromie.gpementor" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GPE Mentor Notes</name>
    <description>
	A quick and dirty tool to log notes on new blood.
    </description>
    <author email="bill@cromie.org" href="http://cromie.org">
      Bill Cromie
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="www/res/ios/icon.png" />
</widget>
