<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mentor Reporting</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="lib/pouchdb/dist/pouchdb-nightly.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="reporting" ng-controller="reportCtrl">
<ion-header-bar class="bar-positive">
  <h1 class="title">{{mentor.name}}</h1>
  <!-- ########################################### -->
  <!-- ###    Add button for online toggle     ### -->
  <!-- ########################################### -->
  <button class="button button-icon" ng-click="toggleOnline()">
    <i class="icon" ng-class="{'ion-connection-bars' : online, 'ion-alert-circled' : !online}"></i>
  </button>
  <button class="button button-icon" ng-click="createReport()">
    <i class="ion-compose icon"></i>
  </button>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-item ng-repeat="report in report" class="item-icon-right"
              ng-class="{complete: report.completed}"
              ng-click="completionChanged(report)">
      <i class="icon ion-ios7-arrow-left"></i>
      {{report.title}}
      <ion-option-button class="button-energized" ng-click="editReport(report)">
        Edit
      </ion-option-button>
      <ion-option-button class="button-assertive" ng-click="delete(report)">
        Delete
      </ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>

<script id="new-report.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Report</h1>
      <button class="button button-clear button-positive" ng-click="closeNewReport()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="createReport(report)">
        <input type="hidden" ng-model="report.mentorid" value="{{mentor.id}}">
        <input type="hidden" ng-model="report.mentor" value="{{mentor.name}}">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Any Notes?" ng-model="report.title">
          </label>
          <div class="item item-divider">
            Protocol: {{report.protocol}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.protocol" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Social Acument: {{report.social}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.social" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Small Vehicle Search: {{report.small}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.small" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Large Vehicle Search: {{report.large}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.large" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Lane Safety: {{report.safety}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.safety" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Theater: {{report.theater}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.theater" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Follows Direction: {{report.direction}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.direction" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Save Report</button>
        </div>
      </form>
    </ion-content>
  </div>

</script>

</body>
</html>
