<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mentor Reporting</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="lib/pouchdb/dist/pouchdb-nightly.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="reporting" ng-controller="reportCtrl">
<ion-header-bar class="bar-positive">
  <h1 class="title" ng-click="showMentors()">{{mentor}}</h1>
  <button class="button button-icon" ng-click="showReportList()">
    <i class="ion-compose icon"></i>
  </button>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-item ng-repeat="newb in newbs | orderBy:name" class="item-icon-right"
              ng-click="newReport(newb)">
      {{newb}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar class="bar-positive">
  <h1 class="title">Total Reports:{{report_count}} | Sync@{{last_sync | date:'M/dd h:mma'}}</h1>
  <button class="button button-icon" ng-click="">
    <i class="icon" ng-class="{'ion-connection-bars' : synced, 'ion-alert-circled' : !synced}"></i>
  </button>
</ion-header-bar>
<script id="report-list.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Your Reports: {{my_reports.length}}</h1>
      <button class="button button-clear button-positive" ng-click="hideReportList()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="report in my_reports track by $index | orderBy:timestamp:true " class="item-icon-right"
                  ng-click="editReport(report)">
          <i class="icon ion-ios7-arrow-left"></i>
          {{report.newb}} | {{report.millitimestamp | date:'MM/dd @ h:mma'}}
          <ion-option-button class="button-assertive" ng-click="delete(report)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</script>

<script id="mentor-list.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Which Fuckwad are You?</h1>
      <button class="button button-clear button-positive" ng-click="hideMentors()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="mentor in mentors | orderBy:mentor:true" class="item-icon-right"
                ng-click="selectMentor(mentor)">
                {{mentor}}
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</script>

<script id="new-report.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Report: {{newb}}</h1>
      <button class="button button-clear button-positive" ng-click="closeNewReport()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <div class="list">
          <label class="item item-input">
            <textarea placeholder="Performance Notes:" ng-model="report.note" rows="5"></textarea>
          </label>
          <div class="item item-divider">
            Protocol: {{report.protocol}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-click="closeKeyboard()" ng-model="report.protocol" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Social Acument: {{report.social}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model="report.social" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Small Vehicle Search: {{report.small}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.small" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Large Vehicle Search: {{report.large}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.large" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Lane Safety: {{report.safety}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.safety" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Theater: {{report.theater}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.theater" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
          <div class="item item-divider">
            Follows Direction: {{report.direction}}
          </div>
          <div class="item range range-positive">
            <span>0</span>
            <input ng-model= "report.direction" type="range" name="volume" min="0" max="10" value="5">
            <span>10</span>
          </div>
        </div>
        <div class="padding">
          <button type="" ng-click="createReport(report)" class="button button-block button-positive">Save Report</button>
        </div>
    </ion-content>
  </div>

</script>

</body>
</html>
